<tr class='exercise-row' <%= 'hidden' if swap_row %> data-id="<%= exercise.id %>">
  <td><%= exercise.display_name %></td>
  <td><%= exercise.sets %></td>
  <td><%= exercise.reps %></td>
  <td><%= exercise.display_duration %></td>
  <% unless exercise.type == "Exercises::CardioExercise" %>
    <td><a href="#" class="swap-exercise-link">Swap</a></td>
  <% end %>
</tr>
