<h1>Saved Workouts</h1>

<% if @workouts && !@workouts.empty? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Exercises</th>
        <th>Created On</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @workouts.each do |workout| %>
        <tr>
          <td><%= workout.name %></td>
          <td><%= workout.exercises.size %></td>
          <td><%= workout.created_at %></td>
          <td><%= link_to 'Show', workout %></td>
          <td><%= link_to 'Destroy',
                           workout,
                           method: :delete,
                           data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div>Looks like you haven't saved any workouts yet!</div>
<% end %>

<br>

<%= link_to 'New Workout!', new_workout_path, class: 'btn btn-primary' %>
